@import url(https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap);

* {
    --font-display: Commissioner, Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    --font-headline: Commissioner, Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.scrollerInner-2PPAp2 {
    background-color: var(--background-primary)!important;
}

.scroller-3X7KbA {
    margin-bottom: 5px;
    background-color: var(--background-secondary-alt);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tree-3agP2X {
    background-color: var(--background-secondary);
}

.unreadBar-elBRZx {
    box-shadow: 0px 0px 3px #54545fcb!important;
}

.searchBar-zdmu7v {
    border-radius: 6px;
}

.content-1Tgc42 {
    border-radius: 7px!important;
}

.panels-3wFtMD {
    background-color: var(--background-secondary);
}

.container-1zzFcN {
    border-bottom: none;
    background-color: var(--background-secondary-alt);
    border-radius: 12px;
    margin-left: 6px;
    margin-right: 6px;
}
.reactionDefault-1Sjj1f, .reactionSelected-1aMb2K {
    border-radius: 7px!important;
}

.header-3OsQeK {
    border-radius: 7px;
}

.animatedContainer-2laTjx {
    border-radius: 8px;
}

.newMessagesBar-1hF-9G {
    margin-top: 3px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #BA68C8;
    background-image: linear-gradient(to left, #BA68C8, #7E57C2);
}

.layout-1qmrhw {
    border-radius: 7px;
}

.peopleColumn-1wMU14 {
    background-color: var(--background-primary);
}

.container-2cd8Mz {
    border-top-left-radius: 15px;
}

.searchBar-2aylmZ {
    border-radius: 7px;
    background-color: var(--background-secondary-alt);
}

.controlButton-2PMNom {
    border-radius: 100px!important;
}

.videoGrid-1tZm-F {
    background-color: var(--background-tertiary);
}

.videoGrid-1tZm-F, .chat-2ZfjoI {
    border-top-left-radius: 12px!important;
}

body, .root-22AK9z, .base-2jDfDU {
    background-color: var(--background-secondary)!important;
}

.grabber-2GQyvM {
    height: 25px;
    width: 25px;
    border-radius: 30px;
    margin-left: -8px;
    background-color: #BA68C8;
    border: none;
}

.barFill-2Bh7CX {
    border-radius: 10px;
    background-image: linear-gradient(to left, #BA68C8, #7E57C2)!important;
}

.checked-1pZh2h .checkbox-f1HnKB {
    background-image: linear-gradient(to left, #BA68C8, #7E57C2);
    border-color: rgba(255, 255, 255, 0.322)!important;
    border-width: 2px;
    border-radius: 6px;
}

.checkbox-f1HnKB {
    border-color: rgba(255, 255, 255, 0.322)!important;
    border-width: 2px;
    border-radius: 6px;
}

.radioIconForeground-2BMavi {
    color: #6C6AF2;
}

.item-2idW98, .item-3XjbnG, .content-1gYQeQ {
    border-radius: 7px!important;
}

.modal-atz_3z, .root-g14mjS {
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.08);
}

.scrollableContainer-15eg7h {
    border-radius: 12px!important;
}

.container-YkUktl {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-2g-os5, .role-2TIOKu {
    border-radius: 8px;
}

* {
    --text-link: #5657f5;
}

* {
    --scrollbar-thin-thumb: rgba(49, 49, 58, 0.65);
    --scrollbar-auto-thumb: rgba(49, 49, 58, 0.65);
    --elevation-low: rgba(255, 255, 255, 0.08);
    --channeltextarea-background: #3c3c44;
    --background-primary: #34343b;
    --background-secondary: #31313a;
    --background-secondary-alt: #2c2c33;
    --background-tertiary: #25252b;
    --focus-primary: #7E57C2;
}

.barFill-Dhkah7 {
    background-image: linear-gradient(to left, #BA68C8, #7E57C2)!important;
}
.grabber-7sd5f5 {
    background-color: #BA68C8!important;
}

.barFill-23-gu- {
    background-image: linear-gradient(to left, #BA68C8, #7E57C2);
}

.grabber-3mFHz2 {
    height: 25px;
    width: 25px;
    border-radius: 30px;
    margin-left: -8px;
    background-color: #BA68C8;
    border: none;
}

.checked-3_4uQ9 .checkbox-1ix_J3 {
    background-image: linear-gradient(to left, #BA68C8, #7E57C2);
    border-color: rgba(255, 255, 255, 0.322)!important;
    border-width: 2px;
    border-radius: 6px;
}

.radioIconForeground-XwlXQN {
    color: #6C6AF2;
}

button {
    border-radius: 7px!important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    border-radius: 7px;
    background-image: linear-gradient(to bottom, #6C6AF2, #4648FB);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    border-radius: 7px;
    background-image: linear-gradient(to bottom, #6C6AF2, #4648FB);
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: #FF5252!important;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: #FF5252!important;
    color: #FF5252;
}

.progressBar-1oVG_J {
    background-image: linear-gradient(to left, #BA68C8, #7E57C2);
    border-radius: 9999px;
    background-color: #5D7DFB;
}

.root-1gCeng {
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.08);
}


.container-1taM1r, .title-3qD0b- {
    box-shadow: 0px 0px 15px 3px var(--background-secondary);
}

.content-1x5b-n {
    border-radius: 7px;
}

.modeSelected-346R90 .content-1x5b-n, .content-1x5b-n:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #66BB6A;
}

.panels-j1Uci_ {
    background-color: var(--background-secondary);
}

.container-3baos1 {
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.scroller-1Bvpku {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden!important;
    background-color: var(--background-secondary-alt);
    
}

.tree-2wKJdG {
    background-color: var(--background-secondary);
    padding-top: 5px;
    padding-bottom: 5px;
}

.listItem-2Ig28I, .expandedFolderBackground-3ZDF05 {
    margin-left: 0px;
}

.menu-3sdvDG {
    border-radius: 10px;
}

.item-1tOPte {
    border-radius: 8px;
}

.input-cIJ7To {
    border-radius: 8px!important;
}

.layer-v9HyYc {
    border-radius: 12px!important;
}
.role-2irmRk {
    border-radius: 10px;
}

.side-8zPYf6 .item-PXvHYJ {
    border-radius: 8px!important;
}

.itemFilled-3llgIC {
    border-radius: 7px!important;
}

.scrollableContainer-2NUZem {
    border-radius: 12px!important;
}

.quickswitcher-3JagVE {
    border-radius: 15px;
}

.input-2VB9rf {
    border-radius: 8px;
    background-color: var(--background-secondary-alt);
}

.result-oB0z-- {
    border-radius: 8px!important;
}

.wrapper-2aW0bm {
    border-radius: 7px;
    border: none;
}

.layout-2DM8Md {
    border-radius: 8px!important;
}

.searchBar-3dMhjb {
    border-radius: 7px;
}

.mention {
    border-radius: 7px;
    padding: 1px;
}

.notDetected-33MY4s, .container-1nZlH6, .select-2fjwPw, .warning-3C2pOH, .bannerUpsellContainer-1KrLvE, .container-cMG81i {
    border-radius: 7px!important;
}

.scroller-1Bvpku {
    overflow: scroll!important;
}

.newMessagesBar-265mhP {
    margin-top: 3px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #BA68C8;
    background-image: linear-gradient(to left, #BA68C8, #7E57C2);
}

.bannerImg-2NHyzX, .bannerImage-3KhIJ6, .animatedContainer-1NSq4T {
    border-radius: 8px!important;
}

img {
    border-radius: 6px;
}

.botTag-2WPJ74 {
    border-radius: 5px!important;
}

.embedWrapper-lXpS3L {
    border-radius: 8px;
}

.wrapper-129saQ {
    border-radius: 20px;
}

code {
    border-radius: 8px;
}

.userPopout-xaxa6l[data-user-id="403390454273409028"] .headerText-1vVs-U::after{
  content:"Layan (BD) Dev";
  color: rgb(117, 115, 115);
  font-family: var(--font-display), sans-serif;
}
.userPopout-xaxa6l[data-user-id="403390454273409028"] .headerTagDiscriminatorNoNickname-D-AYUN:after{
  content: "" !important;
}

.base-3dtUhz {
    background-color: var(--background-secondary)!important;
}

.chat-3bRxxu {
    border-top-left-radius: 8px;
}

.peopleColumn-29fq28 {
    background-color: var(--background-primary);
}

.item-3HknzM {
    border-radius: 7px!important;
}

.attachedBars-tZDmyV, .replyBar-1YLQ2F {
    background-color: var(--background-secondary-alt);
    box-shadow: 0px 0px 5px var(--background-secondary-alt);
}

.emoji {
    border-radius: 0px;
}

.message-2qnXI6 {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.tooltip-2QfLtc {
    border-radius: 8px;
    font-size: 13px;
    box-shadow: 0px 0px 5px var(--background-secondary-alt);
}

.tooltipPointer-3ZfirK {
    display: none;
}

.sprite-2iCowe {
    background-image: url("https://blueb442.github.io/layan-bd/assets/allinone-sprite.png");
    background-position: 50%;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: block;
}

/* Begin Localized Stuff */

button[aria-label="Open GIF picker"] {
    display: none;
    color: transparent;
}
button[aria-label="Open sticker picker"] {
    display: none;
    color: transparent;
}

/* Dansk */

button[aria-label="Åbn sticker-vælgeren"] {
    display: none;
    color: transparent;
}
button[aria-label="Åbn GIF-vælger"] {
    display: none;
    color: transparent;
}

/* Deutsch */

button[aria-label="Stickerauswahl öffnen"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF-Auswahl öffnen"] {
    display: none;
    color: transparent;
}

/* Espanol */

button[aria-label="Abrir selector de pegatinas"] {
    display: none;
    color: transparent;
}
button[aria-label="Abrir selector de GIFs"] {
    display: none;
    color: transparent;
}

/* Francais */

button[aria-label="Ouvrir le sélecteur d'autocollant"] {
    display: none;
    color: transparent;
}
button[aria-label="Ouvrir l'onglet des GIF"] {
    display: none;
    color: transparent;
}

/* Hrvatski */

button[aria-label="Otvori picker za naljepnice"] {
    display: none;
    color: transparent;
}
button[aria-label="Otvori GIF picker"] {
    display: none;
    color: transparent;
}

/* Italiano */

button[aria-label="Apri selettore di adesivi"] {
    display: none;
    color: transparent;
}
button[aria-label="Apri selettore di GIF"] {
    display: none;
    color: transparent;
}

/* Lietuviskai */

button[aria-label="Atidaryti lipdukų paieškos priemonę"] {
    display: none;
    color: transparent;
}
button[aria-label="Atidaryti GIF paieškos priemonę"] {
    display: none;
    color: transparent;
}

/* Magyar */

button[aria-label="Matricaválogató megnyitása"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF válogató megnyitása"] {
    display: none;
    color: transparent;
}

/* Nederlands */

button[aria-label="Stickerkiezer openen"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF-kiezer openen"] {
    display: none;
    color: transparent;
}

/* Norsk */

button[aria-label="Åpne klistremerkevelger"] {
    display: none;
    color: transparent;
}
button[aria-label="Åpne GIF-velger"] {
    display: none;
    color: transparent;
}

/* Polski */

button[aria-label="Otwórz wybór naklejek"] {
    display: none;
    color: transparent;
}
button[aria-label="Otwórz wybieranie GIF-ów"] {
    display: none;
    color: transparent;
}

/* Portuges do Brasil */

button[aria-label="Abrir selecionador de figurinhas"] {
    display: none;
    color: transparent;
}
button[aria-label="Abrir o selecionador de GIFs"] {
    display: none;
    color: transparent;
}

/* Romana */

button[aria-label="Deschide selectorul de stickere"] {
    display: none;
    color: transparent;
}
button[aria-label="Deschide selectorul de GIF"] {
    display: none;
    color: transparent;
}

/* Suomi */

button[aria-label="Avaa tarravalitsin"] {
    display: none;
    color: transparent;
}
button[aria-label="Avaa GIF-valitsin"] {
    display: none;
    color: transparent;
}

/* Svenska */

button[aria-label="Öppna dekalväljare"] {
    display: none;
    color: transparent;
}
button[aria-label="Öppna GIF-väljare"] {
    display: none;
    color: transparent;
}

/* Tieng Viet */

button[aria-label="Mở trình chọn sticker"] {
    display: none;
    color: transparent;
}
button[aria-label="Mở trình chọn ảnh GIF"] {
    display: none;
    color: transparent;
}

/* Turkce */

button[aria-label="Çıkartma seçiciyi aç"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF seçiciyi aç"] {
    display: none;
    color: transparent;
}

/* Cestina */

button[aria-label="Otevřít výběr samolepek"] {
    display: none;
    color: transparent;
}
button[aria-label="Otevřít okno s GIFy"] {
    display: none;
    color: transparent;
}

/* Eyynvilka */

button[aria-label="Άνοιγμα επιλογέα αυτοκόλλητων"] {
    display: none;
    color: transparent;
}
button[aria-label="Άνοιγμα επιλογέα GIF"] {
    display: none;
    color: transparent;
}

/* български */

button[aria-label="Отвори избиране на стикери"] {
    display: none;
    color: transparent;
}
button[aria-label="Отвори избиране на GIF"] {
    display: none;
    color: transparent;
}

/* PYCCknn */

button[aria-label="Открыть меню выбора стикеров"] {
    display: none;
    color: transparent;
}
button[aria-label="Открыть меню GIF"] {
    display: none;
    color: transparent;
}

/* Ykpaihcbka */

button[aria-label="Відкрити програму вибору стікерів"] {
    display: none;
    color: transparent;
}
button[aria-label="Відкрити програму вибору GIF"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="स्टीकर पिकर खोलें"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF पिकर खोलें"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="เปิดตัวเลือกสติกเกอร์"] {
    display: none;
    color: transparent;
}
button[aria-label="เปิดตัวเลือก GIF"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="打开贴纸选取器"] {
    display: none;
    color: transparent;
}
button[aria-label="打开 GIF 选取器"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="スタンプピッカーを開く"] {
    display: none;
    color: transparent;
}
button[aria-label="GIFピッカーを開く"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="開啟貼圖選取器"] {
    display: none;
    color: transparent;
}
button[aria-label="開啟 GIF 選取器"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="스티커 선택기 열기"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF 선택기 열기"] {
    display: none;
    color: transparent;
}

/* End Localized Stuff */

.premiumInlineNotice-pHlw4O {
    border-radius: 8px;
}

.swatch-2XEFyZ {
    border-radius: 5px;
}

.connection-1fbD7X, .card-3AyPWq .outer-1AjyKL .padded-302COx, .preview-2Vkbi6 {
    border-radius: 8px!important;
}

.checkbox-1ix_J3 {
    border-radius: 7px!important;
    border-width: 2px;
}

.grabber-3mFHz2 {
    margin-top: -10px;
    height: 20px;
    width: 20px;
}

.defaultKeybind-2coG8W, .description-1W0DiL, .size16-1P40sf, .value-3EB36z {
    line-height: 1.2;
}

#floating-editor-window {
    border-radius: 8px;
}

.formNotice-2_hHWR {
    border-radius: 8px;
}

.bd-addon-card {
    border-radius: 8px!important;
}

.bd-controls .bd-addon-button {
    margin-left: 3.5px;
}

.info-1VyQPT::before {
    text-transform: none;
    content: "Layan (BD) by blueb442";
    color: var(--text-muted);
}

.membershipDialogHouse3-15OBIQ {
    border-radius: 8px!important;
}

.menu-3sdvDG, .tooltip-2QfLtc {
    background-color: #28282ef6!important;
}

.tooltip-2QfLtc {
    border-radius: 13px;
}

.searchBarComponent-32dTOx, .searchBar-6Kv8R2 {
    text-align: center!important;
}

.container-1D34oG {
    border-top-left-radius: 8px;
}

.focused-3afm-j, .focused-3afm-j {
    background-image: linear-gradient(to bottom, #6C6AF2, #4648FB);
}

.layer-v9HyYc, .messagesPopoutWrap-1MQ1bW, .recentMentionsPopout-3rCiI6 {
    border-radius: 8px!important;
}

.tab-ck0077 {
    border-radius: 8px!important;
}

.toolbar-2bjZV7 {
    border-radius: 10px;
    background-color: #28282ef6!important;
}

.button-qqmJ7w {
    border-radius: 10px!important;
}

.toolbar-2bjZV7::before {
    display: none;
}

.qwert-toast {
    backdrop-filter: blur(0px)!important;
    padding: 12px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
    align-self: center;
    border-radius: 10px!important;
    background-color: #28282ef6!important;
}

.qwert-toast-close {
    padding-left: 5px!important;
}

.qwert-toast-icon-container {
    margin-right: 8px;
}

.popoutContainer-1MXdqN {
    border-radius: 12px;
    background-color: #28282ef6!important;
}

.topSection-y3p-_D, .body-r6_QPy {
    background-color: var(--background-secondary);
}

.avatar-AvHqJA {
    background-color: var(--background-secondary);
    border-color: var(--background-secondary);
}

.connectedAccount-2Jb-Z0 {
    border-radius: 8px;
    line-height: 1.4;
}

.listRow-1iDGel {
    border-radius: 12px;
}

.betterMessageLinks.Popout {
    border-radius: 10px!important;
    background-color: #28282ef6!important;
}

#floating-window-editor, .floating-editor #bd-editor-controls {
    background-color: #28282ef6!important;
}

.floating-window-titlebar {
    background-color: #28282ef6!important;
}

.avatar-1BDn8e:hover {
    transition: .1s;
    box-shadow: 0px 0px 5px var(--background-primary);
}

.botTag-7aX5WZ {
    border-radius: 5px!important;
}

.container-6sXIoE {
    border-bottom: none;
    background-color: var(--background-secondary-alt);
    border-radius: 12px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.tooltip-14MtrL {
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--background-secondary-alt);
}

.tooltipPointer-3L49xb {
    display: none;
}

.menu-1QACrS, .tooltip-14MtrL {
    border-radius: 8px;
    background-color: #28282ef6!important;
}

.item-1OdjEX {
    border-radius: 5px;
}

.message-2CShn3[data-author-id="628400349979344919"] {
    background-color: var(--info-warning-background);
    border-radius: 10px;
}

.message-2CShn3:hover[data-author-id="628400349979344919"] {
    background-color: var(--info-warning-background)!important;
    border-radius: 10px;
}

.message-2CShn3[data-author-id="628400349979344919"] .header-2jRmjb {
    display: none;
}

.message-2CShn3[data-author-id="628400349979344919"] .avatar-2e8lTP {
    display: none;
}

.tabBarItem-30Te4- {
    border-radius: 0px!Important;
}

.form-3gdLxP .wrapper-2SplAX {
    border-radius: 12px;
}

img[src="/assets/60ea1d16163c13845ccf31e70fd6528b.svg"] {
    height: 60px;
}

.info-1sUqUG {
    color: var(--text-muted);
    font-size: 13px;
}

.bd-settings-title {
    color: var(--header-primary);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--font-display)!important;
}

h2[class="bd-settings-title h2-2gWE-o title-3sZWYQ size16-14cGz5 height20-mO2eIN weightSemiBold-NJexzi defaultColor-1_ajX0 defaultMarginh2-2LTaUL marginBottom20-32qID7"] {
    margin-bottom: 20px;
}

.bd-search-wrapper {
    border-radius: 7px;
}

.unreadBar-elBRZx {
    background-color: #54545fcb!important;
}

.selected-2TbFuo .content-1gYQeQ {
    background-color: #54545f67!important;
}

.member-2gU6Ar.selected-1-Z6gm {
    background-color: #54545f67!important;
    border-radius: 7px;
}

.member-2gU6Ar {
    border-radius: 7px;
}

.accountProfileCard-lbN7n- {
    border-radius: 15px;
}

.activityPanel-9icbyU {
    border-bottom: none;
    background-color: var(--background-secondary-alt);
    border-radius: 12px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.gradientTop-1UBZHm {
    display: none;
}

.textScroller-dc9_kz, button {
    font-family: var(--font-display);
}

.icon-10cLkJ, .cover-SwJ-ck {
    border-radius: 6px;
}

.root-24JyNP {
    background-color: var(--background-tertiary);
}

.content-1SgpWY {
    background-color: var(--background-secondary)!important;
}

.previewMessage-2uxBrA {
    border-radius: 8px;
}

.preview-38jjUi {
    border-radius: 10px;
}

.activeGame-3ncS55 {
    border-radius: 8px;
}

.scroller-3X7KbA, .chat-2ZfjoI, .sidebar-1tnWFu, .container-2cd8Mz {
    margin-top: 5px;
}

.topSection-13QKHs, .body-1Ukv50 {
    background-color: #28282ef6
}

.root-8LYsGj {
    background-color: transparent!important;
}

.avatar-3QF_VA {
    background-color: #28282ef6!Important;
    border-color: transparent!Important;
}
.root-g14mjS {
    background-color: var(--background-primary)!important;
}
.override-1sK4r0 {
    background-color: #28282ef6!important;
    border-radius: 7px!important;
}

.select-1Ia3hD {
    background-color: var(--background-secondary)!important;
    border-radius: 7px;
}

.content-2a4AW9 {
    background-color: var(--background-secondary)!important;
    border-radius: 7px!important;
}

.platform-linux .scroller-3X7KbA, .platform-linux .chat-2ZfjoI, .platform-linux .sidebar-1tnWFu, .platform-linux .container-2cd8Mz {
    margin-top: 0px;
}
.content-2a4AW9 {
    background-color: transparent!important;
}
.qwert-toast {
    width: 600px;
}

.qwert-toast-close {
    display: none;
}
.content-2a4AW9 {
    background-color: var(--background-primary)!important;
}

.container-3EtAkD, .container-3jbRo5 {
    border-radius: 7px;
}

.tabBarItem-3nPo4Z {
    border-radius: 0px!important;
}

.previewContainer-1xQAsw .theme-light {
    display: none!important;
}

.previewContainer-1xQAsw {
    border-radius: 7px;
}

.stickyHeaderElevated-dNSSrJ {
    padding-bottom: 0px;
}

.container-20TyK0 {
    border-radius: 12px;
    background-color: #28282ef6!important;
}

.scroller-1ox3I2 {
    background-color: var(--background-secondary)!important;
}

.content-2a4AW9 {
    background-color: transparent!important;
}

.chatHeaderBar-qygUNT {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 12px;
    padding: 8px;
    padding-left: 12px;
}

.channel-1Shao0 {
    border-radius: 7px;
}

.avatarWrapper-1B9FTW {
    border-radius: 7px!important;
}

.tabBarItem-2aZfB8 {
    border-radius: 0px!important;
}

.embedWrapper-1MtIDg {
    border-radius: 12px;
    border: 3px solid;
}

.listRow-3v94Wr {
    border-radius: 7px;
}

.imageWrapper-oMkQl4.embedWrapper-1MtIDg {
    border: 3px solid rgba(255, 255, 255, 0.11)!important;
}
